---
const { title, imgAlt, commonName } = Astro.props;
---
<a href={`/${commonName}/`}>
  <section class={`${commonName}-container`}>
    <img src={`/src/images/${commonName}.png`} alt={imgAlt} />
    <h2>{title}</h2>
  </section>
</a>
