---
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/notrette.css';

const geneMap: Record<string, string> = {
  // 小写
  a: "AAA",
  b: "AAC",
  c: "AAG",
  d: "AAT",
  e: "ACA",
  h: "ACT",
  i: "AGA",
  l: "AGT",
  m: "ATA",
  n: "ATC",
  o: "ATG",
  r: "CAC",
  s: "CAG",
  t: "CAT",
  u: "CCA",
  w: "CCG",
  y: "CGA",

  // 大写
  H: "GTA",
  I: "GTC",
  M: "TAC",

  //特殊字符
  " ": "CGG",
  ",": "CTA",
  ".": "CGT",
  "?": "CTG"
};

//将一段文字转换成基因序列组合
const textToGeneSequence = (text: string) => {
  return text
    .split("")
    .map(char => geneMap[char] || "") //若没有对应基因序列就忽略
    .join("");
}

const decodedQuestion = "How are our tomatoes?";
const encodedQuestion = textToGeneSequence(decodedQuestion);
const decodedAnswer = "I will always be attached to you, Miorine.";
const encodedAnswer = textToGeneSequence(decodedAnswer);
---
<BaseLayout>
  <div class="content notrette-container">
    <h2>
      <span class="title">Emergency Console</span>
    </h2>
    <div class="question-container">
      <div id="decoration-line"></div>
      <span class="question top">{encodedQuestion}</span>
      <span class="question bottom">{decodedQuestion}</span>
    </div>
    <div class="console-container">
      <!-- 终端输入模拟 -->
      <div class="console">
        <span class="label">Please enter</span>
        <div class="console-line">
          <span class="prompt">&gt;</span>
          <div
            class="editor"
            contenteditable="plaintext-only"
            spellcheck="false"
            autofocus="true">{encodedAnswer}</div>
        </div>
      </div>
      <!-- 错误信息 -->
      <div class="output fail hide">
        <p class="error-txt">
          <span class="bracket left">[</span>
          {"ERROR".split("").map(letter => (
            <span>{letter}</span>
          ))}
          <span class="bracket right">]</span>
        </p>
        <p>Authentication failed</p>
      </div>
      <!-- 正确信息 -->
      <div class="output success hide">
        <p>
          {decodedAnswer.split(" ").map(word => (
            <span>{word}</span>
          ))}
        </p>
        <p>Authenticated</p>
      </div>
      <!-- happy ending信息 -->
      <div class="output ending hide">
        <p>I love you. From Mom.</p>
      </div>
    </div>
    <div class="footnote">
      <span>QuietZero System Control Console</span>
    </div>
  </div>
</BaseLayout>

<script>
  const consoleDiv = document.querySelector(".console") as HTMLDivElement;
  const editor = consoleDiv.querySelector('.editor') as HTMLDivElement;

  //期待值为初始值
  const expected = editor.textContent;

  editor.addEventListener('keydown', (e) => {
    if (e.key === "Enter") {
      e.preventDefault();
      const answer = editor.textContent;

      if (answer === expected) {
        showSuccessOutput();
      } else {
        showFailOutput();
      }
    }
  });

  const showFailOutput = () => {
    const failOutput = document.querySelector(".fail") as HTMLDivElement;
    const fail1 = failOutput.firstElementChild;
    const fail2 = failOutput.lastElementChild;

    consoleDiv.classList.add("hide");
    failOutput.classList.remove("hide");

    // 1秒后，fail1和fail2开始淡出，fail2淡出比较慢
    setTimeout(() => {
      fail1?.classList.add("fade-out");
      fail2?.classList.add("fade-out");
    }, 1000);

    // fail2淡出结束后
    fail2?.addEventListener('transitionend', () => {
      // 隐藏容器
      failOutput.classList.add("hide");
      // 清理子元素状态
      fail1?.classList.remove("fade-out");
      fail2?.classList.remove("fade-out");
      // 显示console
      consoleDiv.classList.remove("hide");
      editor.focus();
    }, { once: true });
  };

  const showSuccessOutput = () => {
    const successOutput = document.querySelector(".success") as HTMLDivElement;
    const success1 = successOutput.firstElementChild;
    const success2 = successOutput.lastElementChild;
    const heOutput = document.querySelector(".ending") as HTMLDivElement;

    editor.blur(); //让console不可编辑

    successOutput.classList.remove("hide");
    success1?.classList.add("fade-in");
    // success1淡入结束后
    success1?.addEventListener('animationend', () => {
      // 先停顿一会后，success2闪烁2次
      setTimeout(() => {
        success2?.classList.add("flash-twice");
      }, 200);
    }, { once: true });

    // setTimeout(() => {
    //   heOutput.classList.remove("hide");
    // }, 3000);

    // setTimeout(() => {
    //   heOutput.classList.add("hide");
    //   successOutput.classList.add("hide");
    // }, 6000);
  };
</script>