---
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/notrette.css';

const geneMap: Record<string, string> = {
  // 小写
  a: "AAA",
  b: "AAC",
  c: "AAG",
  d: "AAT",
  e: "ACA",
  h: "ACT",
  i: "AGA",
  l: "AGT",
  m: "ATA",
  n: "ATC",
  o: "ATG",
  r: "CAC",
  s: "CAG",
  t: "CAT",
  u: "CCA",
  w: "CCG",
  y: "CGA",

  // 大写
  H: "GTA",
  I: "GTC",
  M: "TAC",

  //特殊字符
  " ": "CGG",
  ",": "CTA",
  ".": "CGT",
  "?": "CTG"
};

//将一段文字转换成基因序列组合
const textToGeneSequence = (text: string) => {
  return text
    .split("")
    .map(char => geneMap[char] || "") //若没有对应基因序列就忽略
    .join("");
}

const decodedQuestion = "How are our tomatoes?";
const encodedQuestion = textToGeneSequence(decodedQuestion);
const decodedAnswer = "I will always be attached to you, Miorine.";
const encodedAnswer = textToGeneSequence(decodedAnswer);
---
<BaseLayout>
  <div class="content notrette-container">
    <h2>
      <span class="title">Emergency Console</span>
    </h2>
    <div class="question-container">
      <div id="decoration-line"></div>
      <span class="question top">{encodedQuestion}</span>
      <span class="question bottom">{decodedQuestion}</span>
    </div>
    <div class="console-container">
      <!-- 终端输入模拟 -->
      <div class="console">
        <label for="answer">Please enter</label>
        <textarea
          id="answer"
          name="answer"
          spellcheck="false"
          autofocus>
          {encodedAnswer}
        </textarea>
      </div>
      <!-- 错误信息 -->
      <div class="output fail hide">
        <p class="error-txt">
          <span class="bracket left">[</span>
          {"ERROR".split("").map(letter => (
            <span>{letter}</span>
          ))}
          <span class="bracket right">]</span>
        </p>
        <p>Authentication failed</p>
      </div>
      <!-- 正确信息 -->
      <div class="output success hide">
        <p>
          {decodedAnswer.split(" ").map(word => (
            <span>{word}</span>
          ))}
        </p>
        <p>Authenticated</p>
      </div>
      <!-- happy ending信息 -->
      <div class="output ending hide">
        <p>I love you. From Mom.</p>
      </div>
    </div>
    <div class="footnote">
      <span>QuietZero System Control Console</span>
      <span>C-Block Access Point No. 4569-456-23 B</span>
    </div>
  </div>
</BaseLayout>

<script>
  const console = document.querySelector(".console") as HTMLDivElement;
  const textArea = document.getElementById('answer') as HTMLTextAreaElement;
  const failOutput = document.querySelector(".fail") as HTMLDivElement;
  const successOutput = document.querySelector(".success") as HTMLDivElement;

  const expected = textArea.defaultValue;  //期待值为初始值

  window.addEventListener("load", () => {
    textArea.value = expected;
  });

  window.addEventListener('keydown', (e) => {
    if (e.key === "Enter") {
      e.preventDefault();
      const textAreaVal = textArea.value;

      if (textAreaVal === expected) {
        successOutput.classList.remove("hide");

        console.classList.add("hide");
        failOutput.classList.add("hide");
      } else {
        failOutput.classList.remove("hide");

        console.classList.add("hide");
        successOutput.classList.add("hide");
      }
    }
  });
</script>